vendor/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example
.idea
.idea/workspace.xml
.idea/misc.xml

#npm
node_modules/
npm-debug.log

#node_modules obligatoires pour le chat
!node_modules/server.js
!node_modules/redis-2.4.5-win32-win64
!node_modules/socket.io
