.row{
    margin-bottom: 20px;
}

.timeline-2-cols .timeline-footer .comments .comment, .timeline-2-cols .timeline-footer .comments .comment-body {
    overflow: hidden;
    position:relative;
}

.comment .action{
     position:absolute;
     right: 0px;
     top:0px;
     display: none;
 }

.comment:hover .action{
    display:block;
}

.timeline-2-cols .timeline-footer .comments .comment > .pull-left {
    margin-right: 10px;
}

.timeline-2-cols .timeline-footer .comments .comment-body .time {
    font-size: 75%;
}

.timeline-2-cols .timeline-footer .comments .comment-body .message {
    display: block;
}

.timeline-2-cols .timeline-footer .comments .comment-body .message .strong{
    margin-right: 10px;
}

.timeline-body img{
    margin:auto;
    padding: 10px;
}

.timeline-2-cols .timeline-footer .comments .none{
    display: none;
}

.moreComment
{
    text-align: right;
    font-size: 75%;
    margin:0 0 5px 0;
}
.moreComment:hover
{
    cursor: pointer;
   text-decoration: underline;
}

.post_activity {
    width: 100%;
    height: auto;
    text-align: left;
    display: table-row;
}


.post_activity_img{
    width: 70px;
    display: table-cell;
}

.post_activity_stats{
    display: table-cell;
    vertical-align: middle;
}

.post_activity_stats span{
    display: table-row;
}

.post_activity_msg{
    width: 100%;
    padding: 10px 10px 10px 20px;
}

.dropdown-post{
    position: absolute;
    right: 5px;
    top: 5px
}.logo-front{
    width: 120px;
    display: flex;
    text-align: center;
    margin: 0px 25px;
}
.social-sidebar .chat .users-list a img {
    height: 30px;
    width: 30px;
    float: left;
}
.social-sidebar .chat .users-list a .user-status.online {
    margin: 10px 14px 10px 8px;
}
.social-sidebar .chat .users-list a .user-status.offline {
    margin: 10px 14px 10px 8px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-navbarre {
    float: left;
    height: 38px;
    border-radius: 100%;
    border: 2px solid antiquewhite;
    margin: 1px;
}

.image-upload > input
{
    display: none;
}
.btn-group > div{
    float: left;
    margin-left: 10px;
}

.time{
    width: 33%;
    float: left !important;
    padding: 0 10px 10px 10px !important;
}
.panel-foo{
    background-color: #f5f5f5;
    border-color: #dddddd;
    color: #333333;
    padding:6px;
}

.association-body-left{
     min-height: 250px;
     padding : 4px;
     border: 1px solid #dddddd;
    margin-bottom: 15px;
 }

.association-body-left h4{
    padding: 5px;
    padding-bottom: 10px;
    margin:5px;
    border-bottom: 1px solid #dddddd;
}

.img-association{
    position: absolute;
    left: -5px;
    top: -5px;
    width: 50px;
    height: auto;
}

.filter-association{
    padding: 10px;
    margin-bottom: 10px;
}
.filter-association .link{
    float:right;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.social-icons{
    margin-bottom: 5px;
}

.slimScrollDiv{
    position: relative;
    overflow: hidden;
    width: auto;
    max-height: 125px;
}

.slimScrollDiv .scroll{
    overflow: hidden;
    width: auto;
    max-height: 125px;
}

.slimScrollDiv .slimScrollBar{
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    width: 7px;
    position: absolute;
    top: 0px;
    opacity: 0.4;
    display: none;
    border-radius: 7px;
    z-index: 99;
    right: 1px;
    height: 300px;
}

.slimScrollDiv .slimScrollRail{
    width: 7px;
    height: 100%;
    position: absolute;
    top: 0px;
    display: none;
    border-radius: 7px;
    background: rgb(51, 51, 51) none repeat scroll 0% 0%;
    opacity: 0.2;
    z-index: 90;
    right: 1px;
}
.padding-bottom-correct{
    padding-bottom: 20px;
}

.panel-foo {
    background-color: white;
}
.equipement-box img{
    width: 60px;
    height: 60px;
}

.checkbox-correct{
    text-align: center;
    padding-top: 15px;
}