
.timeline-2-cols .timeline-footer .comments .comment, .timeline-2-cols .timeline-footer .comments .comment-body {
    overflow: hidden;
}

.timeline-2-cols .timeline-footer .comments .comment > .pull-left {
    margin-right: 10px;
}

.timeline-2-cols .timeline-footer .comments .comment-body .time {
    font-size: 75%;
}

.timeline-2-cols .timeline-footer .comments .comment-body .message {
    display: block;
}

.timeline-2-cols .timeline-footer .comments .comment-body .message .strong{
    margin-right: 10px;
}

.timeline-body img{
    margin:auto;
    padding: 10px;
}

.timeline-2-cols .timeline-footer .comments .none{
    display: none;
}

.moreComment
{
    text-align: right;
    font-size: 75%;
}
.moreComment:hover
{
    cursor: pointer;
   text-decoration: underline;
}
.logo-front{
    width: 120px;
    display: flex;
    text-align: center;
    margin: 0px 25px;
}
.social-sidebar .chat .users-list a img {
    height: 30px;
}
.social-sidebar .chat .users-list a .user-status.online {
    margin: 10px 14px 10px 0px;
}
.social-sidebar .chat .users-list a .user-status.offline {
    margin: 10px 14px 10px 0px;
}
