.product
{
    border: 1px solid #fff;
    background: #fff;
    margin: 4px;
    background-image: none;
    width: 240px;
    height: 260px;
}
.product.product_compare
{
    border: 1px solid #fff;
    background: #fff;
    margin: 4px;
    background-image: none;
    width: 240px;
    height: 280px;
}


.product_info
{
    background: url('https://www.decathlon.fr/skins/images/background-listing.png') top no-repeat #fdfdfd;
    padding: 12px 0 0;
    height: 54px;
}

.product.col-md-2
{
    padding-left: 0px;
    padding-right: 0px;
}
.product_visuel
{
    margin: 0 auto 0 auto;
}

a.product_brand.product__list_left, div.product__list_left.rating,a.product_name.product__list_left,input#checkcompare{
    margin-left:10px;
}
a.product_brand.product__list_left,a.product_name.product__list_left:hover,a.more_info_title {
    text-decoration: none;
}
.product_brand {
    font-weight: bold;
}
.product_name, .product_brand{
    position: relative;
    width: 150px;
    display: block;
    color: #2b2b2b;
    font-size: 11px;
    text-decoration: none;
}

.indicator{
    color: #2b2b2b;
    font-size: 11px;

}

.product_price{
    position: absolute;
    top: 192px;
    right: 10px;
    text-align: right;
}
.a_partir_de{
    font-size: 8px;
    margin: 0 0 2px;
}

.product_price_span{
    background: url('https://www.decathlon.fr/skins/images/fdprice-yellow.png') left bottom no-repeat #fffb0a;
    height: 28px;
    line-height: 28px;
    padding: 0 4px 0 15px;
    font-size: 11pt;
    color: #1e1e1d;
    font-weight: bold;
    display: block;
}

.more_info
{
    position: absolute;
    top: 28%;
    right: 0;
}
div.more_info div.more_info_content,.more_info_title {
    background: #B9121B!important;
    color: #fff !important;
}

.more_info, .more_info_content{
    width: 100px;
    padding: 3px 0;
    text-align: center;
}

div.product.col-md-2:hover{
    border: 1px solid #B9121B;
}
.product{
    transition: all .4s ease-out;
}

.more_info_star
{
    position: absolute;
    bottom: 11%;
    right: 0;
    padding: 3px 5px;
    text-align: center;
    border: 5px solid #B9121B;
    background: #ffffff;
    z-index: 1;
}
.more_info_star:after, .more_info_star:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.more_info_star:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
}
.more_info_star:before {
    border-color: rgba(0, 130, 195, 0);
    border-right-color: #B9121B;
    border-width: 17px;
    margin-top: -17px;
}

.info_count,.info_it,.info_ensotck,span.indicator{
    font-size: 11px;
    font-weight: bold;
}

.checkbox-correct{
    padding-top: 5px;
    padding-bottom: 5px;
}

.product_price_compare{
    position: absolute;
    top: 218px;
    right: 10px;
    text-align: right;
}
.link_button_product{
    width: 100%;
}

.product_action_bar
{
    padding-top: 20px;
}

.picture-box{
    width: 100%;
}