#close{
    cursor: pointer;
}

#chat_user_add{
    cursor: pointer;
    margin-right: 5px;
}

.head-tchat{
    height: 58px;
    padding: 18px;
    color: #B9121B;

}
.head-tchat-left{
    width: 75%;
    float: left;
    cursor: pointer;
    font-weight: 700;
    color: #31353e;
}
.head-tchat-right{
    float: right;
}

.tchat-box{
    position: fixed;
    bottom: 41px;
    left: 200px;
    width: 350px;
    height: 460px;
    z-index: 9999;
    background-color: white;
}


.scroll-chat-box{
    height: 350px;
    overflow: auto;
}

.create_conversation{
    cursor: pointer;
}

.social-sidebar .chat {
    position: relative;
}

.social-sidebar .chat .users-list {
    height: 100%;
}

.chat_conv_name{
    width:75%;
    float: left;

}
.chat_show{
    cursor: pointer;

}

.chat_show_user_span{
    border: 1px solid grey;
    padding: 4px;
    cursor: pointer;
    width: 100%;
    display: -webkit-box;
}
.autocomplete_json .chat_show_user_span,.event_delete_user.chat_show_user_span {
    border: 1px solid grey;
    padding: 4px;
    cursor: pointer;
    max-width: 33%;
    min-width:50px;
    display: -webkit-box;
}

.chat_show_user_span:hover{

}
.chat_user_add{
    width: 347px;
}

.social-sidebar .chat .chat-options {
    position: fixed;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    width: 195px;
}
img.chat-avatar{
    max-width: 50px;
}

.chat-avatar img{
    border-radius: 30px;
    width: 45px;
    height: 45px;
}

.conversation_chat_show{
    margin:0px;
    max-height: 100px;
}

.conversation_div {
    margin: 15px 0;
    border-bottom: 1px solid grey;
}

.conversation_chat_show .row{
    margin:0px;
    margin-bottom:10px;
}
.conversation_chat_show .row p{
    margin:0px;
}

.panel-conv .tchat-box {
    left: 0px!important;
    position: relative!important;
    bottom: 0px!important;
    left: 200px;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.panel-conv .head-tchat {
    display: none;
}

.panel-conv .panel-body .panel-footer {
    display: none;
}

.panel-conv ul.scroll {
    width: 100%;
}

.panel-conv.scroll-chat-box {
    height: 100%;
}

.no_padding {
    padding:0px;
}
.alignement-utilisateurs{
    float: left;
}
.hauteur-utilisateurs-liste{
    height:44px;
}
.chat_show_user_span img{
    width: 30px;
    height: 30px;
}

.add-button{
    font-size: 20px !important;
    cursor: pointer;
    margin-right: 5px;
}

.close-button{
    float: right;
    font-size: 20px !important;
    color: #B9121B;
}

.tchat-box small {
    font-size:11px;
}

.chat_message {
    margin-top:5px!important;
    margin-bottom:5px!important;
}
