#close{
    cursor: pointer;
}

#chat_user_add{
    cursor: pointer;
    margin-right: 5px;
}

.head-tchat{
    height: 58px;
    padding: 18px;
}
.head-tchat-left{
    width:75%;
    float: left;
    cursor: pointer;
}
.head-tchat-right{
    float: right;
}

.tchat-box{
    position: fixed;
    bottom: 41px;
    left: 200px;
    width: 350px;
    height: 460px;
    z-index: 9999;
    background-color: white;
}


.scroll-chat-box{
    height: 350px;
    overflow: auto;
}

.create_conversation{
    cursor: pointer;
}

.social-sidebar .chat {
    position: relative;
}

.social-sidebar .chat .users-list {
    height: 100%;
}

.chat_conv_name{
    width:75%;
    float: left;
    
}
.chat_show{
    cursor: pointer;
    
}

.chat_show_user_span{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
}
.chat_show_user_span:hover{
    
}
.chat_user_add{
    position: fixed;
    width: 347px;
}

.social-sidebar .chat .chat-options {
    position: fixed;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    width: 195px;
}