.tchat-box{
    position: absolute;
    bottom: 0px;
    left: 20%;
    width: 350px;
    height: 500px;
    z-index: 9999;
    background-color: white;
}


.scroll-chat-box{
    height: 350px;
    overflow: auto;
}